.App {
  text-align: center;

}
video {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10; /* Ensure the video is on top of other elements */
}
canvas{
  z-index: 11; /* Ensure the video is on top of other elements */
}
.Game {
  /* Your styles here */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.game-over-message {
  background-color: #ff6347;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.bird {
  position: absolute;
  margin: 0;
  padding: 0;
  user-select: none;
  z-index: 11;
}

.pipe {
  position: absolute;

  bottom: 0px;
  right:0px;
  width: 80px;


}

.vl {
  border-left: 1px solid green;
  height: 50%;
  position: absolute;
  left: 50%;

  top: 0;
}